body {
    background-color: rgb(195, 92, 92);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cb {
    text-align: center;
    justify-content: center;
    margin: 0 10px;
    color: rgba(123, 11, 11, 0.806);
    align-items: center;
  }
  #be {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 30px;
    color: rgba(123, 11, 11, 0.806);
  }
  
  .tt {
    font-weight: bold;
  }
  
  .box {
    padding: 5px 10px;
    border: 2px solid  rgba(123, 11, 11, 0.806);
    border-radius: 20px;
}

img {
  height: 500px;
  border-radius: 30px;
  width: 600px;
  margin: 30px;
}
.container {
  display: flex;
  text-align: center;
  gap: 40px;
}
#yt {
  display: flex;
  justify-content: center;
}
#Endtime {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(123, 11, 11, 0.806) ;
text-decoration: underline;
  font-size: 20px;
}

button {
  border-radius: 5px;
  background-color: rgba(123, 11, 11, 0.806);
  color: aliceblue;
}

h1 {
  color: rgba(123, 11, 11, 0.806);
  font-family: Arial, Helvetica, sans-serif;
}

.bb {
  background-color: rgb(255, 194, 204);
}  